<div class="main-container container text-center mt-4">
    <div class="container-header p-3 mt-1">
        <h3>
            <span>Électrocardiogrammes</span>
            <a routerLink="/ecgs/new"><i class="fa-solid fa-heart-circle-plus"></i></a>
        </h3>
        <div class="filter d-flex justify-content-between mt-4">
            <div class="d-flex align-items-center">
                <label class="" for="filter">Filtre </label>
                <span class="mx-2"> :</span>
                <select class="form-control" name="filter" id="filter">
                    <option value="">Nombres de pathologies</option>
                    <option value="">Identifiant</option>
                    <option value="">Date de création</option>
                    <option value="">Dernière modification</option>
                    <option value="">Patient</option>
                </select>
            </div>
            <div class="container-input">
                <input class="form-control-plaintext" type="search" name="search" id="search" placeholder="Rechercher...">
                <a href=""><i class="fa-solid fa-paper-plane"></i></a>
            </div>
        </div>
    </div>
    <div class=" mt-4 px-5 d-flex flex-wrap justify-content-center">
        <app-ecg-list-item></app-ecg-list-item>
        <app-ecg-list-item></app-ecg-list-item>
        <app-ecg-list-item></app-ecg-list-item>
        <app-ecg-list-item></app-ecg-list-item>
        <app-ecg-list-item></app-ecg-list-item>
        <app-ecg-list-item></app-ecg-list-item>
    </div>
</div>

