<div class="container d-flex h-100">
    <div class="w-75 h-100 px-4">
        <div class="col-8 h-25 form-floating">
            <div class="form-control h-100">
            </div>
            <label>Pathologies</label>
        </div>
        <div class="form-floating">
            <textarea name="" id="" style="height: 170px" rows="10" class="form-control mt-2" placeholder=""></textarea>
            <label class="form-label">Commentaire</label>
        </div>
        <div class="m-3">
            <label for="formFile" class="form-label">Selectionner un fichier</label>
            <input class="form-control" type="file" id="formFile">
        </div>
    </div>
    <div>
        <select class="form-select" style="min-width: 250px">
            <option value="">Pathology</option>
            <option value="">Pathology ..........</option>
            <option value="">Pathology</option>
            <option value="">Pathology</option>
        </select>
    </div>
</div>
