<div class="main-container d-flex justify-content-center">
    <div class="container-content col-6 p-4 mb-5">
        Ajouter une Pathologie
        <div class="form-floating m-2">
            <input type="text" class="form-control" placeholder="">
            <label class="form-label">Name</label>
        </div>
        <div class="form-floating m-2">
            <textarea type="text" class="form-control"style="height: 150px" placeholder=""></textarea>
            <label class="form-label">Description</label>
        </div>
        <div class="text-end">
            <button class="btn mx-1" (click)="onReturn($event)">Annuler</button>
            <button class="btn" (click)="onSubmit()">Ajouter</button>
        </div>
    </div>
</div>
