* {
    color: #001970;
}

.choix {
    width: 35px;
}

button.ant {
    background: none;
}

.h-50 {

    top: 75px;
    left: 80px;
    rotate: 270deg;
}

.container-patient {
    overflow-y: scroll;
    overflow-x: hidden;
}

.container-input {
    position: relative;
    display: flex;
    border-radius: 50px;
    border: none;
    width: 300px;
    height: 40px;
    background: rgba(59, 172, 153, 0.37);
}

.container-input button {
    position: absolute;
    font-size: 24px;
    transform: translateY(-0px) rotate(42deg);
    right: -70px;
    background: none;
}

.container-input input {
    border-radius: 20px;
    padding-inline: 15px;
}

li a {
    border: none;
}
li.active  a{
    background: rgb(218, 239, 216);
    border: none;
}

.card-body {
    background: rgb(217, 238, 215);

}
button {
    background: #BAD9FC;
    margin: 10px;
}

button:hover {
    background: #437CBA;
    color: white;
}
