<div class="d-flex h-100">
    <div class="choix flex-column align-items-center">
        <div class="position-relative h-50">
            <button class="btn" (click)="changeChoix(false)">Selectionner</button>
        </div>
        <div class="position-relative h-50">
            <button class="btn" (click)="changeChoix(true)">Ajouter</button>
        </div>
    </div>
    <div *ngIf="ajouter" class="container d-flex justify-content-between flex-wrap">
        <div class="col-5 form-floating">
            <input type="text" id="prenom" class="form-control" placeholder="text">
            <label for="prenom">Prénom</label>
        </div>
        <div class="col-4 form-floating">
            <input type="text" id="nom" class="form-control" placeholder="text">
            <label for="nom">Nom</label>
        </div>
        <div class="col-2 form-floating">
            <div  class="form-control text-center">
                M<input type="radio" class="mx-2" name="sexe" value="M" id="sexeM">
                F<input type="radio" class="mx-2" name="sexe" value="F" id="sexeF">
            </div>
            <label>Sexe</label>
        </div>
        <div class="col-3 form-floating">
            <input type="date" id="dateN" class="form-control" placeholder="text">
            <label for="dateN">Date de naissance</label>
        </div>
        <div class="col-4 form-floating">
            <input type="text" id="telephone" class="form-control" placeholder="text">
            <label for="telephone">Téléphone</label>
        </div>
        <div class="col-4 form-floating">
            <input type="text" id="nationnalite" class="form-control" placeholder="text">
            <label for="nationnalite">Nationnalité</label>
        </div>
        <div class="col-3 form-floating">
            <input type="text" id="adresse" class="form-control" placeholder="text">
            <label for="adresse">Adresse</label>
        </div>
        <div class="col-3 form-floating">
            <input type="text" id="ville" class="form-control" placeholder="text">
            <label for="ville">Ville</label>
        </div>
        <div class="col-2 form-floating">
            <input type="text" id="pays" class="form-control" placeholder="text">
            <label for="pays">Pays</label>
        </div>
        <div class="col-3 form-floating">
            <input type="text" id="cni" class="form-control" placeholder="text">
            <label for="cni">CNI</label>
        </div>
        <div class="col-4" *ngFor="let ant of antecedents">
            <input type="text" class="form-control" *ngIf="ant">
        </div>
        <div class="col-9">
            <button class="btn ant" (click)="addAntecedent()"><i class="fa-solid fa-plus"></i>Ajouter antécédent</button>
        </div>
    </div>
    <div *ngIf="!ajouter" class="container container-patient">
        <div class="d-flex justify-content-end">
            <div class="container-input">
                <input class="form-control-plaintext" type="search" name="search" id="search" placeholder="Rechercher...">
                <button class="btn"><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </div>
        <div class="container px-4 border-bottom border-3 table-head table-responsive table mt-4">
            <div class="justify-content-between d-flex fw-bold col-12 py-2">
                <div class="col-2">Numero</div>
                <div class="col-4 " style="cursor: pointer" (click)="filterFirstname()">Firstname</div>
                <div class="col-3" style="cursor: pointer" (click)="filterLastname()">Lastname</div>
                <div class="col-2" style="cursor: pointer" (click)="filterBirthday()">Birthday</div>
                <div class="" style="width: 50px;cursor: pointer" (click)="filterSex()">Sex</div>
            </div>
        </div>
        <app-patient-item></app-patient-item>
        <app-patient-item></app-patient-item>
        <app-patient-item></app-patient-item>
        <app-patient-item></app-patient-item>
        <app-patient-item></app-patient-item>
        <app-patient-item></app-patient-item>
        <app-patient-item></app-patient-item>
        <app-patient-item></app-patient-item>
        <app-patient-item></app-patient-item>
        <app-patient-item></app-patient-item>
        <app-patient-item></app-patient-item>
        <app-patient-item></app-patient-item>
        <app-patient-item></app-patient-item>
        <app-patient-item></app-patient-item>
        <app-patient-item></app-patient-item>
    </div>
</div>
