<div class="main-container">
    <div class="container-header container mt-4  d-flex justify-content-between align-items-center flex-wrap">
        <h3>
            <span>Pathologies</span>
        </h3>
        <div class="d-flex align-items-center">
            <div class="container-input" >
                <input [disabled]="add || modify" class="form-control-plaintext" type="search" name="search" id="search" placeholder="Rechercher...">
                <button [disabled]="add || modify" class="btn"><i class="fa-solid fa-paper-plane"></i></button>
            </div>
            <button class="btn fs-4" [disabled]="add" (click)="addPathology(true)">
                <i class="fa-solid fa-plus fs-5 position-relative plus"></i>
                <i class="fa-solid fa-microscope"></i>
            </button>
        </div>
    </div>
    <div class="container mt-4">
        <app-pathology-form *ngIf="add" (back)="addPathology(false)"></app-pathology-form>
        <div class="container d-flex flex-wrap justify-content-center" *ngIf="!add && !modify">
            <app-pathology-item (modify)="getSelect($event)" *ngFor="let pathology of pathologies"
                                [pathology]="pathology"></app-pathology-item>
        </div>
        <app-pathology-form *ngIf="modify" [pathology]="selected" (back)="modify= false"></app-pathology-form>
    </div>
</div>
