<div class="card">
    <div class="face face1">
        <div class="content text-center">
            <h5 class="text-light">Status</h5>
            <img src="assets/platform/images/picto-medecin-h.png" alt="">
            <h6 class="text-light">Prenom nom</h6>
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <p>
                Date de naissance :
                
            </p>
            <a [routerLink]="'/staff/view/'+staff._id"><i class="fa-solid fa-arrow-right fs-3 px-4"></i></a>
        </div>
    </div>
</div>
